name: Scan and upload to trustsource.io

on:
  push:
    tags:
      - 'main'

jobs:
  scan:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        include:
          - node-version: 20.x

    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          registry-url: 'https://registry.npmjs.org'
      - name: Get current version
        id: get_version
        run: |
          echo VERSION=$(jq -r '.version' package.json) >> $GITHUB_OUTPUT
      - name: Install dependencies
        run: yarn
      - name: Scan dependencies
        if:  steps.get_version.outputs.VERSION
        run: yarn node ./bin/ts-node-client.js --branch main --tag ${{ steps.get_version.outputs.VERSION }} --project Scanner --url https://api.trustsource.io/ --apiKey ${{ secrets.TS_TOKEN }}

